body {
  background: rgb(127, 212, 212);
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.knock-knock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
